#header{
    background-color: #15104a;
}
#footer{
    background-color: #15104a;
}

#links{
    padding-left: 50px;
}

.menu{
    display: flex;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    display: flex;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 500;
    list-style: none;
    padding: 0 30px;
}  
.text{
    margin-top: 25px;
    white-space: nowrap;
}

i{
    color: whitesmoke;
    font-size: 50px;
    padding-top: 20px;
    padding: 20px;
}

.List{
    display: none; 
    width: 50px;
    border-radius: 5%;
}

#movie:hover .MList{
    display: block;
    text-align: center;
    padding: 4px;
    position: absolute;
    background-color: #190da5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 25px;
}

#TV:hover .List{
    display: block;
    text-align: center;
    padding: 4px;
    position: absolute;
    background-color: #190da5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 25px;
}

.listicon{
    text-decoration: none;
    color: #a3a3a3;
}
.listicon:hover{
    color: #f7f7f8;
}

#rightSide{
    display: flex;
    text-align:end;
}
#bgImage{
    text-align: center;
    /* padding: 260px;
    background-image: url("https://cdn.mos.cms.futurecdn.net/N6JgmjQCK9NYzwdXBrHSjh-320-80.jpg");
    height: 100%;
    width: 100%; */
}

#search{
    background-color: #d6d4d4;
    width: 50%;
    line-height: 50px;
    font-size:larger;
    border: 3px solid black;
}
#submit{
    background-color: #220bf5;
    width: 10%;
    line-height: 50px;
    border: 3px solid black;
    font-size:larger;
    border-left: 0;
}
.search-bar{
 display:inline-flex;
}

